<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../asset/css/form.css">
  </head>
  <body>
    <div>
      <form action="formulaire.html">
        <div class="formulaire">
        <div class="form">
          <label for="lastname">Nom</label>
          <input type="text" id="lastname" required />
        </div>
        <div class="form">
            <label for="firstname">Prenom</label>
            <input type="text" id="firstname" />
        </div>
        <div class="form">
            <label for="email">Email</label>
            <input type="email" id="email" />
        </div>
        <div class="form">
            <label for="mdp">Mot de passe</label>
            <input type="password" id="mdp" />
        </div>
        <div class="form">
            <label for="confirmation">Confirmez votre mot de passe</label>
            <input type="password" id="confirmation" />
        </div>
        <div>
            <button type="submit"> Envoyer</button>
        </div>
    </div>
      </form>
    </div>
  </body>
</html>
