<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../asset/js/16-practice-list.js" defer></script>
</head>
<body>
    <div id="container" >
    <h1>Liste des films avengers</h1>
    
        <ul id="change">
            <li>iron Man</li>
            <li>Hulk</li>
            <li> Thor</li>
            <li>captain americas</li>
            <li>Les gardiens de la galaxie</li>
        </ul>
    </div>
</body>
</html>